<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Developer Skills</title>
</head>
<body>
    <h1>Developer Skills</h1>
    <h3>Skill #<%= skillNum %></h3>
    <h3>
        <%= skill.skill %> : <%= skill.proficient ? 'proficient' : 'needs some work' %>
    </h3>
    <a href="/">Home</a> | <a href="/skills">Develper Skills</a>
    <form action="/skills/ <%= parseInt(skillNum) - 1 %>?_method=DELETE" method="POST">
        <button class= 'fake'>Delete Skill</button>
    </form>
    <a href="/skills/<%= skillNum-1  %>/edit">Edit Skill</a>
</body>
</html>